.ant-table-body {
  max-height: calc(100vh - 230px) !important;
  overflow-y: scroll !important;
}
.ant-table-tbody > tr > td {
  padding: 8px 16px !important;
}
td span button {
  margin: 0px 5px !important;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
span.profile-text {
  padding: 0px !important;
  float: right;
  top: 16px !important;
  position: relative;
  font-size: 16px;
  font-weight: 600;
}
/* Scroll bar */
*::-webkit-scrollbar-thumb {
  background-color:  rgba(14, 70, 192, 0.178) !important;
  /* border-radius: 3px !important; */
}
*::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
